
.main {
  flex-grow: 1;
}
#root {
	width: 100%;
	min-height: 100vh;
	color: #fff;
	background: linear-gradient(60deg, blue, rgb(16, 36, 225), rgb(6, 56, 94), black);
	background-size: 400% 400%;
	position: relative;
	animation: cambiar 10s ease-in-out infinite;
	display: flex;
	flex-direction: column;
}
#tituloBusqueda{
    font-family: monospace;
    font-size: 60px;
    background: linear-gradient(90deg, black,rgb(43, 43, 43),rgb(81, 81, 81),rgb(255, 255, 255),rgb(15, 46, 131),rgb(57, 81, 178),rgb(45, 63, 167));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation:text 5s infinite;
}
@keyframes text{
    0%{
        filter: hue-rotate(0deg);
    }
	50%{
        filter:hue-rotate(360deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }

}
@keyframes cambiar {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}